.image__container {
	background-color: $white;
}

.image {
	width: 400px;
	height: auto;
	border: 1px solid #d1d4db;
	background-color: $white;
	border-radius: 10px;
	padding: 0.4em;
	img {
		width: 100%;
		height: auto;
		border-radius: 10px;
	}
}

.image__footer {
	display: flex;
	justify-content: space-between;
}

@media (max-width: $layout-breakpoint-medium) {
	.image {
		width: 200px;
	}
}
@media (max-width: $layout-breakpoint-small) {
	.image__container {
		display: flex;
		justify-content: center;
	}
}
