
// Colors
$primary: #5C62C5;
$secondary: #f6ac35;
$dark-grey: #363636;
$ligh-grey: #d8d8d8;
$dark-grey-100: #d9d9d9;
$dark-grey-300: #878a8e;
$dark-grey-400: #6d6d6d;
$white: #ffffff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$layout-breakpoint-medium: 1024px;
$layout-breakpoint-small: 900px;
